.client__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: border-color var(--transition-property);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  @include tablet {
    width: 226px;
  }
  @include desktop {
    width: 170px;
  }
}

.client__ikon {
  fill: currentColor;
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
