.header-list .link.current {
  color: var(--accent-color);
}
.current {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -2px;
  }
}
