:root {
  --first-title-color: #212121;
  --second-title-color: #757575;
  --first-btn-color: #212121;
  --second-btn-color: #757575;
  --accent-color: #2196f3;
  --transition-property: color;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
